<p id="notice"><%= notice %></p>

<h1>
<a href="/users/sign_up">회원가입</a> /
<a href="/users/sign_in">로그인</a>
</h1>
<hr />
<div class="gridster">
    <ul>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><h3>영화 순위</h3></li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h3>음악 순위</h3></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h3>주식</h3></li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"><h3>오늘의 날씨</h3></li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"><h3>오늘의 명언</h3></li>

        <li data-row="3" data-col="2" data-sizex="1" data-sizey="1"><h3>오늘의 운세</h3></li>
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"><h3>스케쥴러?</h3></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>
    </ul>
</div>

<script>
$(function(){ //DOM Ready

    $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [140, 140]
    });

});
</script>
<br>

<%= link_to 'New Post', new_post_path %>
