/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.gridster
 */

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.hn { font-family: 'Hanna'; font-size: 20px;}
.jg { font-family: 'Jeju Gothic'; font-size: 45px;}
.jh { font-family: 'Jeju Hallasan'; font-size: 40px;}
.jm { font-family: 'Jeju Myeongjo'; font-size: 20px;}
.kb { font-family: 'Kopub Batang'; font-size: 20px;}
.nbs { font-family: 'Nanum Brush Script'; font-size: 20px;}
.ng { font-family: 'Nanum Gothic'; font-size: 20px;}
.nm { font-family: 'Nanum Myeongjo'; font-size: 20px;}
.ngc { font-family: 'Nanum Gothic Coding'; font-size: 20px;}
.nps { font-family: 'Nanum Pen Script'; font-size: 20px;}
.ns { font-family: 'Noto Sans KR'; font-size: 50px;}

body {
    font-family: 'Hanna';
}

 textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}

#post_title {
    width: 60%;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}

 body {
    background-color: #ffffff;

 }

 #main_page {
     width: 100%;
     height: 100%;
 }

 #main_page button {
    float: right;
}

 .gridster li {
    overflow: hidden;
    background-color: rgb(245, 245, 245);
 }

.gridster li:hover { 
    overflow: scroll; 
}